@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 243 76% 5%;
    --card: 0 0% 100%;
    --card-foreground: 243 76% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 243 76% 5%;
    --primary: 206 95% 16%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206 95% 84%;
    --secondary-foreground: 243 76% 5%;
    --muted: 0 0% 20%;
    --muted-foreground: 243 76% 70%;
    --accent: 207 53% 80%;
    --accent-foreground: 243 76% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 243 76% 5%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 207 53% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 243 76% 95%;
    --card: 0 0% 0%;
    --card-foreground: 243 76% 95%;
    --popover: 0 0% 0%;
    --popover-foreground: 243 76% 95%;
    --primary: 206 95% 84%;
    --primary-foreground: 0 0% 0%;
    --secondary: 206 95% 16%;
    --secondary-foreground: 243 76% 95%;
    --muted: 0 0% 80%;
    --muted-foreground: 243 76% 95%;
    --accent: 207 53% 20%;
    --accent-foreground: 243 76% 95%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 243 76% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 207 53% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}